@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Property Tracker</h1>
     <h5> <p> The application stores and displays data about properties and allows users to track renovations over time.</p>
        </h5>
</div>
    
<body>

<div class = "container">
   
    <div class="text-center">
 <div class="row">
      
    <div  class="col"> <h3> <a asp-area="" asp-controller="Properties" asp-action="Create">Create New Property</a> </h3> </div>    
     <div class="col">  <h3> <a asp-area="" asp-controller="Properties" asp-action="Index">View Existing Properties</a>  </h3></div>
      
     <div class="w-10"></div>
      
    </div>
    </div>
    </div>

    
    </body>
