@{
    ViewData["Title"] = "Home Page";
}
<style>
    table, th, td {
  padding: 15px;
  font-size: 125%;
}</style>


<div class="text-center">
    <h1 class="display-4">Property Tracker</h1>
     <h5> <p> The application stores and displays data about properties and allows users to track renovations over time.</p>
        </h5>
</div>
    
<body>

<div class = "container">
   
    <div class="text-center">
 <div >
     <table name="homeTable"style="width:100%" >
      
    <tr> <td><a asp-area="" asp-controller="Properties" asp-action="Create">Create New Property</a> </td> 
        <td> <a asp-area="" asp-controller="Properties" asp-action="Index">View Existing Properties</a></td>
    </tr>   
    <tr>
        <td>
            <a asp-area="" asp-controller="People" asp-action="Create">Create New Person</a>
        </td>
        <td> 
            <a asp-area="" asp-controller="People" asp-action="Index">View Existing People</a>
        </td>

    </tr>
        

      </table>
    </div>
    </div>
    </div>


    
    </body>
