@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Property Tracker</h1>
    <p>The application stores and displays data about properties and allows users to track renovations over time.</p>
</div>
